/.idea/
/.vscode/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
/env
/venv
/caravel
/dependencies
/mgmt_core_wrapper
/logs
/venv-cocotb
**/work
**/.__testsuite.sv
**/.svunit.f
**/.testrunner.sv
**/.logs
**/compile.log
**/rtl.f
**/run.log
**/tests.xml
*.wlf
**/qrun.out
**/transcript
**/.nfs*
**/fpga_config.ini
**/reuse_csvs/
