#BUS_SORT

#N

#S
clk_i
nrst_i

(?#sstream_i[196-391])
sstreams_i\[19[6-9]\].*
sstreams_i\[[2-3]\d\d\].*
sstreams_o\[[2-3]\].*

(?#mstreams_o[100-199])
mstreams_o\[1\d\d\].*
mstreams_i\[[2-3]\].*

(?#sstream_i[0-195])
sstreams_i\[\d\].*
sstreams_i\[\d\d\].*
sstreams_i\[1[0-8]\d\].*
sstreams_i\[19[0-5]\].*
sstreams_o\[[0-1]\].*

(?#mstreams_o[0-99])
mstreams_o\[\d\].*
mstreams_o\[\d\d\].*
mstreams_i\[[0-1]\].*

#E

#W
