#BUS_SORT

#N
fragfifo*.*
rast_busy_i
mport_i.*
mport_o.*

#S

#E
wb*.*
irq_batchdone_o
irq_jobdone_o

#W
vertcache*.*
inst_o.*
core*.*
global_regfile*.*
vertorder*.*
vertcont_busy_i
index_mstream*.*
