#BUS_SORT

#N
mport_i.*
mport_o.*
vertcache*.*
vertorder*.*
vertcont_busy_i
index_mstream*.*
inst_o.*
core*.*
global_regfile*.*
rast_busy_i

#S
wb*.*
irq_batchdone_o
irq_jobdone_o

#E

#W
fragfifo*.*
