#BUS_SORT

#N
outbox_mstream_i.*
outbox_mstream_o.*

#E
inst_i.*
inbox_sstream_i.*
inbox_sstream_o.*
jump_request_o
flush_dec_stage_i
stall_i
stall_o
nsync_rst_i
nsync_rst_mailbox_i

#S
mport_i.*
mport_o.*

#W
clk_i
nrst_i

SP_i.*

global_r1_data_i.*
global_r2_data_i.*

