#BUS_SORT

#N
outbox_mstream_i.*
outbox_mstream_o.*

#S
clk_i
nrst_i
inst_i.*
global_r1_data_i.*
global_r2_data_i.*
jump_request_o
flush_dec_stage_i
stall_i
stall_o
nsync_rst_i
nsync_rst_mailbox_i

#W
inbox_sstream_i.*
inbox_sstream_o.*

#E
mport_i.*
mport_o.*
