#BUS_SORT

#NR
spi2_cs_o

spi2_miso_i\[0\]
spi2_mosi_o\[0\]
spi2_sio_en_o\[0\]
spi2_miso_i\[1\]
spi2_mosi_o\[1\]
spi2_sio_en_o\[1\]
spi2_miso_i\[2\]
spi2_mosi_o\[2\]
spi2_sio_en_o\[2\]
spi2_miso_i\[3\]
spi2_mosi_o\[3\]
spi2_sio_en_o\[3\]

spi2_clk_o
spi2_dqsm_i
spi2_dqsm_o
spi2_dqsm_en_o

#SR
wb_.*
wbs_.*

user_irq.*

#ER
spi1_cs_o

spi1_miso_i\[0\]
spi1_mosi_o\[0\]
spi1_sio_en_o\[0\]
spi1_miso_i\[1\]
spi1_mosi_o\[1\]
spi1_sio_en_o\[1\]
spi1_miso_i\[2\]
spi1_mosi_o\[2\]
spi1_sio_en_o\[2\]
spi1_miso_i\[3\]
spi1_mosi_o\[3\]
spi1_sio_en_o\[3\]

spi1_clk_o
spi1_dqsm_i
spi1_dqsm_o
spi1_dqsm_en_o

spi0_dqsm_i
spi0_dqsm_o
spi0_dqsm_en_o




blue.*
green.*
red.*
[vh]sync.*

#WR
spi0_miso_i\[0\]
spi0_mosi_o\[0\]
spi0_sio_en_o\[0\]
spi0_miso_i\[1\]
spi0_mosi_o\[1\]
spi0_sio_en_o\[1\]
spi0_miso_i\[2\]
spi0_mosi_o\[2\]
spi0_sio_en_o\[2\]
spi0_miso_i\[3\]
spi0_mosi_o\[3\]
spi0_sio_en_o\[3\]

spi0_cs_o
spi0_clk_o

