#BUS_SORT

#S
$500

clk_i
nrst_i
sport.*

#N
(?#mports_i[68-0].mports_o[33-0])
mports_o\[\d\]
mports_o\[[0-2]\d\]
mports_o\[3[0-3]\]
mports_i\[\d\]
mports_i\[[1-5]\d\]
mports_i\[6[0-8]\]

(?#mports_i[137-69].mports_o[67-34])
mports_o\[3[4-9]\]
mports_o\[[4-5]\d\]
mports_o\[6[0-7]\]
mports_i\[69\]
mports_i\[[7-9]\d\]
mports_i\[1[0-2]\d\]
mports_i\[13[0-7]\]

(?#mports_i[206-138].mports_o[101-68])
mports_o\[6[8-9]\]
mports_o\[[7-9]\d\]
mports_o\[10[0-1]\]
mports_i\[13[8-9]\]
mports_i\[1[4-9]\d\]
mports_i\[20[0-6]\]

#E

#W
