#BUS_SORT

#S
clk_i
nrst_i

t0x.*
u.*
v.*

#N
(?#div1+0_mstream_i[196-391])
div1_mstream_o\[\d\].*
div1_mstream_o\[\d\d\].*
div1_mstream_o\[1[0-8]\d\].*
div1_mstream_o\[19[0-5]\].*

div0_mstream_o\[\d\].*
div0_mstream_o\[\d\d\].*
div0_mstream_o\[1[0-8]\d\].*
div0_mstream_o\[19[0-5]\].*

div1_mstream_i
div0_mstream_i

(?#div1+0_sstreams_o[100-199])
div1_sstream_i\[\d\].*
div1_sstream_i\[\d\d\].*

div0_sstream_i\[\d\].*
div0_sstream_i\[\d\d\].*

div1_sstream_o
div0_sstream_o

#E
mstream_i.*
mstream_o.*

#W
t0y.*
t1.*
t2.*
sstream_i.*
sstream_o.*
